.App {
  text-align: center;
}

Body {
  min-height: 100vh;
  background-color: #d4cad4;

}

.ReviewImage {
  width: 100%;
  width: 300px;
  height: 250px;
  object-fit: cover;
}
@media only screen and (max-width: 450px) {
.ReviewImage {
  width: 150px;
  height: 100px;
}
}

.ReviewList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#ReviewCardTitle {
  font-family: "Press Start 2P";
  height: 80px;
  font-size: 16px;
}

.Preview {
  font-family: "Sora";
  font-size: 14px;
}

.ReadMore {
  font-family: "Sora";
  margin-bottom: 0px;
}

.ReviewCard {
  width:100%;
  max-width: 300px;
  margin: 0px auto; 
  text-align: center;
  border: 1px;
  padding: 30px;
  margin: 20px;
  border-radius: 15px 50px;
  border-color: rgb(175, 116, 177);
  font: black;
  border-style: solid;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}
  
.Preview {
  text-align: left;
}

.NavHome {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
}

.NavSubmenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  background-color: #d6b6d6;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.NavBarItem-Dropdown:hover .NavSubmenu{
    display: block;
}

.NavPoints {
  display: flex;
  list-style: none;
}

.NavBarItem {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sora";
  background-color: #d6b6d6;
}

.NavBarItem-Dropdown {
  background-color: #d6b6d6;
}

.NavBarItem .Link {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    text-align: left;
    padding: 0.7rem 1rem;
    font-size: 16px;
    font-weight: bold;
    font-family: "Sora";
}

.NavBarItem-Dropdown .Link {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: left;
  padding: 0.7rem 1rem;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sora";
  cursor: pointer;
}

.NavBarItem-Dropdown .Link:hover {
  background-color: #97D9E1;
  transition: background-color 0.3s linear;
}

.NavBarItem .Link:hover {
  background-color: #97D9E1;
  transition: background-color 0.5s linear;
}

.NavSubmenuItem {
  text-align:center;
  padding: 0px;
  font-family: "Sora";
  font-weight: normal;
  font-size: 12px;
}

.NavSubmenuItem:hover {
  background-color: #97D9E1;
  transition: background-color 0.3s linear;
}

.NavBar {
  display: inline-block;
  margin: 2rem auto 0;
  color: #000;
  text-align: left;
}