.App {
  text-align: center;
}

Body {
  min-height: 100vh;
  background-color: #d4cad4;

}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

.Logo {
  max-width: 160px;
  padding: 0px;
}

.ReviewImage {
  width: 100%;
  width: 300px;
  height: 250px;
  object-fit: cover;
}

@media only screen and (max-width: 660px) {

  .ReviewImage,
  .SingleReviewImage {
    width: 150px;
    height: 100px;
  }
}

.Votes {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  top: 151px;
}

@media only screen and (max-width: 660px) {
  .Votes {
    top: 26px;
  }
}

.VotesBetweenArrows {
position: absolute;
right: 7px;
top: 25px;
font-weight: bold;
color: #000;
}

.Downvote:hover {
  color: rgb(133, 133, 212)
}

.Downvote-active {
  color: rgb(133, 133, 212)
}

.Upvote-active {
  color: rgb(218, 66, 66)
 }

.Upvote {
color: #000
}

.Upvote:hover {
  color: rgb(218, 66, 66)
 }

.imageContainer {
  position: relative;
}


.ReviewList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#ReviewCardTitle {
  font-family: "Press Start 2P";
  height: 45px;
  font-size: 16px;
}

.Preview {
  font-family: "Sora";
  font-size: 16px;
}

.ReadMore {
  font-family: "Sora";
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: bold;
  color: #030303
}

.ReadMore:hover {
  color: #3a7f86
}

.ReviewCard {
  width: 100%;
  max-width: 300px;
  margin: 0px auto;
  text-align: center;
  border: 1px;
  padding: 30px;
  margin: 20px;
  border-radius: 15px 50px;
  border-color: rgb(175, 116, 177);
  font: black;
  border-style: solid;
  font-size: 16px;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.Preview {
  text-align: left;
}

.NavBar {
  margin-top: 0px !important;
  z-index: 1;
}

.NavHome {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 7px;
  padding: 0 5px;
  height: 60px;
}

.NavSubmenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  background-color: #d6b6d6;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.NavBarItem-Dropdown:hover .NavSubmenu {
  display: block;
}

.NavPoints {
  display: flex;
  list-style: none;
  padding: 0px;
}

.NavBarItem {
  width: 150px !important;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sora";
  background-color: #d6b6d6;
  text-align: center;
}

.NavBarItem-Dropdown {
  width: 150px;
  background-color: #d6b6d6;
  text-align: center;
}

.NavBarItem .Link {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.7rem 1rem;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sora";
}

.NavBarItem-Dropdown .Link {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: left;
  padding: 0.7rem 1rem;
  font-size: 16px;
  font-weight: bold;
  font-family: "Sora";
  cursor: pointer;
}

.NavBarItem-Dropdown .Link:hover {
  background-color: #97D9E1;
  transition: background-color 0.3s linear;
}

.NavBarItem .Link:hover {
  background-color: #97D9E1;
  transition: background-color 0.5s linear;
}

.NavSubmenuItem {
  text-align: center;
  padding: 0px;
  font-family: "Sora";
  font-weight: normal;
  font-size: 16px;
}

.NavSubmenuItem:hover {
  background-color: #97D9E1;
  transition: background-color 0.3s linear;
}

.NavBar {
  display: inline-block;
  margin: 2rem auto 0;
  color: #000;
  text-align: left;
}

.SingleReviewImage {
  width: 100%;
  width: 500px;
  height: 350px;
  object-fit: cover;
}

@media only screen and (max-width: 660px) {
  .SingleReviewImage {
    width: 150px;
    height: 100px;
  }
}


.SingleReviewData {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: "Sora";
}

.SingleReviewHeading {
  font-family: "Press Start 2P";
  font-size: 24px;
}

.SingleReviewDataHeader {
  font-weight: bold;
}

.SingleReviewContainer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  text-align: center;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-color: #97D9E1;
  border-radius: 25px;
}

.SingleReviewContent {
  text-align: left;
  padding: 20px;
}

.CommentListHome {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

}

.CommentList {
  max-width: 500px;
  align-items: center;
  list-style: none;
  padding: 10px;
  border-radius: 25px;
  background-image: linear-gradient(0deg, #82d5df 0%, #d89bd8 100%);
}

@media only screen and (max-width: 660px) {
  .CommentList {
    padding: 10px;
  }
}

.CommentCard {
  background: rgba(245, 232, 239, 0.3);
  border-radius: 10px;
  list-style: none; 
  padding: 10px;
  margin: 10px; 
  font-size: 16px;
}

@media only screen and (max-width: 660px) {
  .CommentCard {
    padding: 3px;
    margin: 5px;
  }
}

.CommentInfo {
  display: flex;
  justify-content: space-around;
}

.Author {
font-weight: bold;
margin: 5px;
}

.CreatedAt {
margin: 5px;
}

.CommentBody {
margin: 5px;
  
}


@media only screen and (max-width: 660px) {
  .NavBar {
    max-width: 350px;
  }
}

@media only screen and (max-width: 660px) {
  .Link {
    font-size: 14px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;

  }
}

@media only screen and (max-width: 660px) {
  .SingleReviewHeading {
    font-size: 16px !important;
  }
}

